@CHARSET "UTF-8";
/*
.body .menu{
	width: 180px;
	float:left;
	min-height: 500px;
}
.body .content{
	min-height: 500px;
	float: left;
	width: calc(100% - 180px);
}*/
.container-fluid{
	padding: 0;
}
.container-fluid>.navbar{
	margin-bottom: 0;
}
.body{
	position: relative;
}

.body>.menu{
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
	min-height: 500px;	
}
.body>.content{
	min-height: 500px;
	margin-left: 180px;
	padding: 0 10px;
}
.pagination{
	margin: 5px 0;
}